{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}Wod Board{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<header class="flex items-center justify-center h-screen">
        <h1 class="text-5xl">Wod Board</h1>
			</header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
      </footer>
		</div>
	</body>
</html>
