@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables */
:root {
  --primary-color: #115e59; /* teal-800 */
  --secondary-color: #0d9488; /* teal-600 */
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='checkbox'],
[type='radio'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  --tw-ring-color: var(--primary-color);
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: var(--primary-color);
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.has-error [type='text'],
.has-error [type='email'],
.has-error [type='url'],
.has-error [type='password'],
.has-error [type='number'],
.has-error [type='date'],
.has-error [type='datetime-local'],
.has-error [type='month'],
.has-error [type='search'],
.has-error [type='tel'],
.has-error [type='checkbox'],
.has-error [type='radio'],
.has-error [type='time'],
.has-error [type='week'],
.has-error [multiple],
.has-error textarea,
.has-error select {
  --tw-ring-color: #be123c;
  border-width: 2px;
  border-color: #be123c;
}

.has-error [type='text']:focus,
.has-error [type='email']:focus,
.has-error [type='url']:focus,
.has-error [type='password']:focus,
.has-error [type='number']:focus,
.has-error [type='date']:focus,
.has-error [type='datetime-local']:focus,
.has-error [type='month']:focus,
.has-error [type='search']:focus,
.has-error [type='tel']:focus,
.has-error [type='checkbox']:focus,
.has-error [type='radio']:focus,
.has-error [type='time']:focus,
.has-error [type='week']:focus,
.has-error [multiple]:focus,
.has-error textarea:focus,
.has-error select:focus {
  --tw-ring-color: #e11d48;
  border-color: #e11d48;
}
