{% load static %}
{% load i18n %}
<section class="mx-auto w-1/2 p-4">
  <h2 class="text-2xl text-center">
    {% translate "Create a new Wod" %}
  </h2>
  <form hx-post="{% url 'wods:create' %}" id="wod-form" class="grow">
    {% csrf_token %}
    {{ form.as_p }}
    {{ round_formset.management_form }}
    <fieldset id="rounds" class="my-5 p-5 border-2">
      <legend class="text-xl">
        {% translate "Rounds" %}
      </legend>
      {% for round_form in round_formset %}
      {% with round_index=forloop.counter0 %}
      <div class="round-form">
        <h3 class="text-lg font-bold">
          Round <span class="round-title">{{ forloop.counter }}</span>
        </h3>
        {{ round_form.as_p }}
        {{ round_form.movement_formset.management_form }}
        <fieldset id="movements-in-round-{{ round_index }}" class="my-5 p-5 border-2">
          <legend>
            {% translate "Movements" %}
          </legend>
          {% for movement_form in round_form.movement_formset %}
          <div class="movement-in-round-{{ round_index }}-form">
            {{ movement_form.as_p }}
          </div>
          {% endfor %}
          <button id="add-movement-in-round-{{ round_index }}-form" type="button"
            class="py-1 px-2 bg-teal-800 hover:bg-teal-600 rounded-md text-white font-semibold">
            {% translate "Add movement" %}
          </button>
        </fieldset>
      </div>
      {% endwith %}
      {% endfor %}
      <button id="add-round-form" type="button"
        class="py-1 px-2 bg-teal-800 hover:bg-teal-600 rounded-md text-white font-semibold"
        hx-on="click: addRoundInWodFormsetForm(event)">
        {% translate "Add round" %}
      </button>
    </fieldset>
  </form>


  <script src="{% static 'js/duplicate_form.js' %}"></script>
</section>
